@charset "utf-8";

/* HTML and Body styles */

html {
 background: url(NurseryImages/bn_bg1sz.jpg) no-repeat center;
    background-size: cover;
}

body{
    font: Arial, Helvetica, sans-serif;
}

body {
   background-color: white;
   box-shadow: rgb(51, 51, 51) 20px 0px 40px,  rgb(51, 51, 51) -20px 0px 40px,
               inset rgb(51, 21, 21) 0px 0px 40px;
   border-left: 3px solid rgb(51, 51, 51);
   border-right: 3px solid rgb(51, 51, 51);
   min-height: 100%;  
   margin: 0px auto;
   min-width: 420px;
   max-width: 1020px;  
   width: 100%;
}

